.hero {
    min-height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    gap: 40px;
}

/* Left */

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    line-height: 1.1;
}

.hero-left h2 {
    font-size: 26px;
    color: #171717;
    font-weight: 600;
}

.hero-left p {
    font-size: 90px;
    color: #171717;
    font-weight: 700;
}

/* Hand Icon */

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero-hand-icon img {
    width: 80px;
}

/* Button */

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 20px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}


.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right img {
    width: 100%;
    max-width: 550px;
}














/* Large ScReen */
@media (max-width: 1280px) {

    .hero {
        padding: 0 50px;
    }

    .hero-left p {
        font-size: 70px;
    }

    .hero-left h2 {
        font-size: 22px;
    }

    .hero-hand-icon img {
        width: 65px;
    }

    .hero-latest-btn {
        width: 260px;
        height: 60px;
        font-size: 18px;
    }

    .hero-right img {
        max-width: 450px;
    }
}

@media (max-width: 1024px) {

    .hero {
        padding: 0 30px;
        gap: 20px;
    }

    .hero-left p {
        font-size: 55px;
    }

    .hero-left h2 {
        font-size: 20px;
    }

    .hero-hand-icon img {
        width: 55px;
    }

    .hero-latest-btn {
        width: 220px;
        height: 55px;
        font-size: 16px;
    }

    .hero-right img {
        max-width: 380px;
    }
}

@media (max-width: 800px) {

    .hero {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 100px 20px 50px;
        gap: 40px;
    }

    .hero-left {
        align-items: center;
    }

    .hero-left p {
        font-size: 45px;
    }

    .hero-left h2 {
        font-size: 18px;
    }

    .hero-hand-icon {
        justify-content: center;
    }

    .hero-hand-icon img {
        width: 45px;
    }

    .hero-latest-btn {
        width: 200px;
        height: 50px;
        font-size: 15px;
    }

    .hero-right img {
        width: 90%;
        max-width: 320px;
    }
}

@media (max-width: 500px) {

    .hero-left p {
        font-size: 34px;
    }

    .hero-left h2 {
        font-size: 16px;
    }

    .hero-latest-btn {
        width: 180px;
        height: 45px;
        font-size: 14px;
    }

    .hero-right img {
        max-width: 260px;
    }
}