.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px 20px;
}


.popular h1 {
    font-size: 50px;
    color: #171717;
    font-weight: 600;
    text-align: center;
}


.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    border: none;
}


.popular-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
    width: 100%;
    max-width: 1400px;
}



@media (max-width: 1280px) {

    .popular h1 {
        font-size: 40px;
    }

    .popular-item {
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
    }
}


@media (max-width: 1024px) {

    .popular h1 {
        font-size: 32px;
    }

    .popular-item {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}


@media (max-width: 800px) {

    .popular h1 {
        font-size: 26px;
    }

    .popular hr {
        width: 150px;
        height: 4px;
    }

    .popular-item {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 500px) {

    .popular h1 {
        font-size: 22px;
    }

    .popular hr {
        width: 120px;
        height: 3px;
    }

    .popular-item {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}